ol > li > h3 {
    margin-top:10px;
}

ol > li span {
    margin-left:10px;
    cursor: pointer;
}

ol > li span:hover {
    text-decoration: underline;
}

ol {
    margin-top:30px;
}

#things {
    margin-top:20px;
}

#users {
    margin-top:24px;
    padding-left:0;
}

#users li {
    list-style-type: none;
    display: inline-block;
    padding-right: 8px;
}

.user {
    width:20px;
    height:20px;
}