{{ define "index" }}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of Things</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ .StaticURL }}css/lib.css"> 
    <link rel="stylesheet" href="{{ .StaticURL }}css/app.css"> 
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

          <div class="row">
            <div class="col-sm-6">
              <h2>List of Things</h2>
            </div>
            <div class="col-sm-6">
              <ul id="users"></ul>
            </div>

          </div>
          <div id="things">
            <ul id="errors"></ul>
            <div class="input-group">
              <input id="create-name" type="text" class="form-control">
              <span class="input-group-btn">
                <button id="create" class="btn btn-default" type="button">Create</button>
              </span>
            </div>
            <ol></ol>
          </div>

        </div>
      </div>
    </div>

    <script src="{{ .StaticURL }}js/lib.js"></script>
    <script src="{{ .StaticURL }}js/app.js"></script>
  </body>
</html>{{ end }}
